In [27]:
import pandas as pd
import numpy as np

In [28]:
ls

 Volume in drive C is OS
 Volume Serial Number is 120C-E72B

 Directory of C:\Users\k.subhash\Desktop\Nano-Material Road

27-02-2024  09:09    <DIR>          .
27-02-2024  08:55    <DIR>          ..
27-02-2024  09:07    <DIR>          .ipynb_checkpoints
27-02-2024  09:09            42,166 AHP-Automation.ipynb
27-02-2024  09:07             1,160 nano-material road.txt
27-02-2024  09:07             1,160 nano-material road1.csv
26-02-2024  12:19               663 user_data.csv
26-02-2024  12:33               551 user_data1.csv
26-02-2024  12:42               658 user_data2.csv
               6 File(s)         46,358 bytes
               3 Dir(s)  162,796,064,768 bytes free

In [29]:
data = pd.read_csv('nano-material road1.csv')

In [30]:
data

,Material,Output (per sq. meter),Cost (per sq. meter),Durability,Efficiency,Sensitivity,Maintenance,Scalability
0,Piezoelectric,0.001 - 0.1 W,$10 - $100,5-10 years,Medium,Low,Very Low,High
1,Triboelectric,0.000001 - 0.001 W,$1 - $10,3-8 years,High,High,Low,Very High
2,Thermoelectric,0.1 - 1 W,$50 - $500,8-15 years,Medium,Medium,Low,Very High
3,Photovoltaic,10 - 200 W,$0.20 - $2,15-25 years,Medium,Very Low,High,Medium
4,Electroactive Polymers,0.001 - 0.1 W,$5 - $50,2-5 years,Medium,Very Low,Low,High
5,Magnetoelectric,0.001 - 0.1 W,$100 - $1000,5-12 years,High,High,Low,Very High
6,Pyroelectric,0.001 - 0.1 W,$20 - $200,5-10 years,High,Medium,Very Low,High

In [31]:
values_tomap = {
    'Very High':5,
    'High' :4,
    'Medium':3,
    'Low':2,
    'Very Low':1
}

In [32]:
# mapping five scale values
def mapping_five_scales(columns):
    for col in columns:
        data[col] = data[col].apply(lambda x:x.strip()).map(values_tomap)
    return data

In [33]:
# Use only if the columns name are irreggular
def regularization():
    for col in data.columns:
        data.rename(columns = {col : col[1:].strip()},inplace=True)

In [34]:
regularization()

In [35]:
mapped_data = mapping_five_scales(['Efficiency','Sensitivity','Maintenance','Scalability'])
mapped_data

,Material,Output (per sq. meter),Cost (per sq. meter),Durability,Efficiency,Sensitivity,Maintenance,Scalability
0,Piezoelectric,0.001 - 0.1 W,$10 - $100,5-10 years,3,2,1,4
1,Triboelectric,0.000001 - 0.001 W,$1 - $10,3-8 years,4,4,2,5
2,Thermoelectric,0.1 - 1 W,$50 - $500,8-15 years,3,3,2,5
3,Photovoltaic,10 - 200 W,$0.20 - $2,15-25 years,3,1,4,3
4,Electroactive Polymers,0.001 - 0.1 W,$5 - $50,2-5 years,3,1,2,4
5,Magnetoelectric,0.001 - 0.1 W,$100 - $1000,5-12 years,4,4,2,5
6,Pyroelectric,0.001 - 0.1 W,$20 - $200,5-10 years,4,3,1,4

In [57]:
# generating pair-wise comparision based on user-preference
user_data = pd.read_csv('user-data.csv')

In [58]:
for col in user_data.columns:
    user_data.rename(columns = {col:col.strip()},inplace=True)

In [60]:
user_data.drop(columns=['Criteria'],inplace=True)

In [61]:
# calculating the float values
def division(x):
    try:
        if '/' in x:
            parts = x.split('/')
            return int(parts[0]) / int(parts[1])
        else:
            return int(x)
    except:
        return x
def float_values(df):
    try:
        df.drop(columns=['Pair-wise comp'],inplace=True)
    except:
        df = df
    for col in df.columns:
        df[col] = df[col].apply(lambda x:round(division(x),2))
    return df

In [62]:
def normalization(df):
    for col in df.columns:
        sum_ = round(df[col].sum(),2)
        df[col] = df[col].apply(lambda x:round(x/sum_,2))
    return df

In [63]:
def sum_of_rows(df):
    l=[]
    for i in range(df.shape[0]):
        l.append(round(sum(df.loc[i,:]),2))
    return l

In [64]:
def criterion_weight(df):
    l=[]
    for i in range(df.shape[0]):
        l.append(round(sum(df.loc[i,:])/df.shape[1],2))
    return l

In [65]:
def consistency_mat(caldf,l):
    for i,col in enumerate(caldf.columns):
        caldf[col] = caldf[col].apply(lambda x :l[i]*x)
    return caldf

In [66]:
def weighted_mat(df,cw):
    l = sum_of_rows(df)
    df['Weighted_sum_value'] = pd.Series(l)
    df['Criteria_weight'] = pd.Series(cw)
    df['result']  = df['Weighted_sum_value']/df['Criteria_weight']
    return df

In [67]:
cal_df = float_values(user_data)
cal_df

   Cost  Durability  Efficiency  Sensitivity  Maintenance  Scalability  Output
0  1.00        3.00        2.00         3.00          2.0          2.0       2
1  0.33        1.00        2.00         2.00          2.0          3.0       2
2  0.50        0.50        1.00         2.00          2.0          3.0       3
3  0.33        0.50        0.50         1.00          3.0          2.0       2
4  0.50        0.50        0.50         0.33          1.0          2.0       2
5  0.50        0.33        0.33         0.50          0.5          1.0       2
6  0.50        0.50        0.33         0.50          0.5          0.5       1

In [68]:
cal_df_n = cal_df.copy() 
norm_df = normalization(cal_df)
norm_df

   Cost  Durability  Efficiency  Sensitivity  Maintenance  Scalability  Output
0  0.27        0.47        0.30         0.32         0.18         0.15    0.14
1  0.09        0.16        0.30         0.21         0.18         0.22    0.14
2  0.14        0.08        0.15         0.21         0.18         0.22    0.21
3  0.09        0.08        0.08         0.11         0.27         0.15    0.14
4  0.14        0.08        0.08         0.04         0.09         0.15    0.14
5  0.14        0.05        0.05         0.05         0.05         0.07    0.14
6  0.14        0.08        0.05         0.05         0.05         0.04    0.07

In [69]:
cal_df_n

   Cost  Durability  Efficiency  Sensitivity  Maintenance  Scalability  Output
0  1.00        3.00        2.00         3.00          2.0          2.0       2
1  0.33        1.00        2.00         2.00          2.0          3.0       2
2  0.50        0.50        1.00         2.00          2.0          3.0       3
3  0.33        0.50        0.50         1.00          3.0          2.0       2
4  0.50        0.50        0.50         0.33          1.0          2.0       2
5  0.50        0.33        0.33         0.50          0.5          1.0       2
6  0.50        0.50        0.33         0.50          0.5          0.5       1

In [70]:
cw = criterion_weight(norm_df)
cw

[0.26, 0.19, 0.17, 0.13, 0.1, 0.08, 0.07]

In [71]:
consistency_df = consistency_mat(cal_df_n,cw)
consistency_df

,Cost,Durability,Efficiency,Sensitivity,Maintenance,Scalability,Output
0,0.2600,0.5700,0.3400,0.3900,0.20,0.16,0.14
1,0.0858,0.1900,0.3400,0.2600,0.20,0.24,0.14
2,0.1300,0.0950,0.1700,0.2600,0.20,0.24,0.21
3,0.0858,0.0950,0.0850,0.1300,0.30,0.16,0.14
4,0.1300,0.0950,0.0850,0.0429,0.10,0.16,0.14
5,0.1300,0.0627,0.0561,0.0650,0.05,0.08,0.14
6,0.1300,0.0950,0.0561,0.0650,0.05,0.04,0.07

In [72]:
result_df = weighted_mat(consistency_df,cw)
result_df

,Cost,Durability,Efficiency,Sensitivity,Maintenance,Scalability,Output,Weighted_sum_value,Criteria_weight,result
0,0.2600,0.5700,0.3400,0.3900,0.20,0.16,0.14,2.06,0.26,7.923077
1,0.0858,0.1900,0.3400,0.2600,0.20,0.24,0.14,1.46,0.19,7.684211
2,0.1300,0.0950,0.1700,0.2600,0.20,0.24,0.21,1.30,0.17,7.647059
3,0.0858,0.0950,0.0850,0.1300,0.30,0.16,0.14,1.00,0.13,7.692308
4,0.1300,0.0950,0.0850,0.0429,0.10,0.16,0.14,0.75,0.10,7.500000
5,0.1300,0.0627,0.0561,0.0650,0.05,0.08,0.14,0.58,0.08,7.250000
6,0.1300,0.0950,0.0561,0.0650,0.05,0.04,0.07,0.51,0.07,7.285714

In [73]:
n=data.shape[1]-1
lam_max = np.array(result_df['result']).mean()
consistency_index = (lam_max - n)/(n-1)

In [74]:
lam_max

7.568909750134871

In [75]:
consistency_index

0.0948182916891452

In [76]:
consistent_Ratio = consistency_index/1.32

In [78]:
round(consistent_Ratio,2)

0.07